{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="home-section section-hero inner-page overlay bg-image"
             style="background-image: url('{% static 'images/hero_1.jpg' %}');"
             id="home-section">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="mb-5 text-center">
                        <h1 class="text-white font-weight-bold">Список резюме</h1>
                        <p>Найдите работу своей мечты на нашем мощном карьерном сайте.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section">
        <div class="container">


        {% if user.is_authenticated %}

            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">

                    <div class="mb-5 text-center">

                        <a href="{% url 'jobs:addresume' %}"
                           class="btn btn-primary border-width-2 d-none d-lg-inline-block">
                      <span class="mr-2 icon-paper-plane">

                      </span>Добавить резюме</a>


                    </div>


                </div>
            </div>
            {% else %}
            <div class="mb-5 text-center">

            Войдите на аккаунт чтобы добавить свое резюме! <span><a href="{% url 'accounts:login' %}">Войти</a></span>

            </div>
        {% endif %}


            <div class="mb-5">
                {% for resume in resumes %}

                    <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
                        <div class="col-md-2">
                            <a href=""><img class="img-fluid" src="{% static 'images/featured-listing-2.jpg' %}"
                                            alt="image"></a>
                        </div>
                        <div class="col-md-4">
                            <h2>ФИО: {{ resume.name }}</h2>

                            <p>Специальность: <strong>{{ resume.speciality }}</strong></p>
                            <p>Опыт: <strong>{{ resume.exp }}</strong></p>
                            <p>Навыки: <strong>{{ resume.skills }}</strong></p>
                        </div>
                        <div class="col-md-3 text-left">
                            <span class="meta"></span>
                        </div>
                        <div class="col-md-3 text-md-right">
                            <p>Контактный номер:</p>
                            <strong class="text-black">{{ resume.contacts }}</strong>
                        </div>
                    </div>

                {% endfor %}
            </div>


        </div>
    </section>
{% endblock %}